<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{wodTitle}}">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="wod in wods" type="item-text-wrap">
                <h3>{{wod.name}}</h3>
                <div class="row">
                    <div class="col">Rank</div>
                    <div class="col">Points</div>
                    <div class="col">Score</div>
                </div>
                <div class="row">
                    <div class="col">{{wod.athleteScore.rank}}</div>
                    <div class="col">{{wod.athleteScore.points}}</div>
                    <div class="col">{{wod.athleteScore.score}}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
